vim/vundle/*
vim/sessions
!vim/vundle/.gitkeep
tmux/plugins/*
!tmux/plugins/.gitkeep
zsh/local/*
zsh/.zinit
!zsh/local/.gitkeep.zsh
i3/i3resources/*
!i3/i3resources/.gitkeep
vim/vimspector-config/gadgets


