[Unit]
Description=i3lock on suspend
After=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/sakis/.dotfiles/bin/i3lock-script now

[Install]
WantedBy=sleep.target
